* {
    margin: 0;
    padding: 0;
}

table {
    width: 75vw;
    margin: 1.5em auto;
    border-collapse: collapse;
    border: 2px solid #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th,
td {
    border: 1px solid #bbb;
    padding: 5px 15px;
}

th {
    background-color: #3f87a6;
    color: #fff;
}

tr:nth-of-type(even) {
    background-color: #b4e3f1;
}

tr:nth-of-type(odd) {
    background-color: #cdeef8;
}

thead {
    text-align: center;
}

caption {
    font-weight: bold;
    font-size: 1.5em;
}

.bottom {
    text-align: center;
    font-weight: bold;
}